---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
---

<Layout title="Pkl Community">
	<Hero title="Pkl Community">
		<p>We are a community of developers who have an interest in Apple's open-source language,
			pkl. You can find out more about pkl on the official language website.</p>
	</Hero>
	<main>
		<!-- todo: add some more content here -->
	</main>
</Layout>
