---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Wrapper from "../components/Wrapper.astro";
import ProjectsTable from "../components/ProjectsTable.astro"
import ProjectRow from "../components/ProjectRow.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const projects = await getCollection("projects");

function sortFunc (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) {
    const nameA = a.data.title.toUpperCase();
    const nameB = b.data.title.toUpperCase();

    if (nameA < nameB) {
        return -1;
    }
    if (nameA > nameB) {
        return 1;
    }

    return 0;
}

projects.sort(sortFunc);
---

<Layout title="Projects | Pkl Community">
    <Hero title="Projects">
        <p>This is a list of community managed projects.</p>
    </Hero>
    <main>
        <Wrapper>
            <ProjectsTable>
                {projects.map(p => (
                        <ProjectRow title={p.data.title} description={p.data.description} href={p.data.url} />
                ))}
            </ProjectsTable>
        </Wrapper>
    </main>
</Layout>