---
interface Props {
    title: string;
    description: string;
    href: string
}

const { title, description, href } = Astro.props;
---
<li>
    <a href={href}><strong>{title}</strong></a>
    <p>{description}</p>
</li>
<style>
    li {
        border-top: 1px solid var(--light-grey);
        padding: 18px;
    }
    li p {
        margin: 0;
        margin-top: 5px;
    }
</style>